@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.page {
  max-width: $content-width;
  min-height: 100vh;
  width: 85vw;
  margin: 0 auto;

  &__title {
    // text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    // margin: 15px 0;
    margin: 30px 0 15px 0;
  }

  &__subtitle {
    // text-align: center;
    font-size: 32px;
    margin: 15px 0;
  }

  &__input {
    border-radius: 5px;
    border: 1px solid $brand;
    height: 10vw;
    max-height: 50px;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: -10px;

    &_message {
      font-size: 13px;
      color: red;
      // background-color: red;
      position: absolute;
      // top: 0;
      left: 0;
    }

    &:focus {
      border: 2px solid $brand;
    }
  }

  &__text {
    font-size: 26px;
    margin-bottom: 30px;
  }

  &__action {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  &__error {
    font-size: 26px;
    color: rgb(125, 125, 125);
    text-align: center;
    padding-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
  }
}

.order_fix {
  background-color: $brand;
  cursor: pointer;
  position: fixed;
  padding: 20px;
  border-radius: 50%;
  right: 10px;
  top: 50px;
  z-index: 2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

  &_icon {
    display: block;
    width: 50px;
    height: 50px;
  }
}

.totop_fix {
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;

  &_icon {
    display: block;
    // width: 80px;
    // height: 80px;
    width: 60px;
    height: 60px;
  }
}
.totop_fix_only {
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;

  &_icon {
    display: block;
    // width: 80px;
    // height: 80px;
    width: 60px;
    height: 60px;
  }
}

.totop_fix_icon {
  display: block;
  // width: 80px;
  // height: 80px;
  width: 60px;
  height: 60px;
}

@include mediumTablet {
  .order_fix {
    position: sticky;
    // left: 100%;
    // margin-right: -65px;
    float: right;
    top: 85%;
    &_icon {
      width: 40px;
      height: 40px;
    }
  }
  .totop_fix {
    position: sticky;
    left: 100%;
    float: right;
    border-radius: 50%;
    top: 74%;
    margin-bottom: 85px;
    // &_icon {
    //   width: 80px;
    //   height: 80px;
    // }
    &_only {
      position: sticky;
      left: 100%;
      float: right;
      border-radius: 50%;
      top: 85%;

      z-index: 2;
      // &_icon {
      //   width: 80px;
      //   height: 80px;
      // }
    }
  }
}

@include mobileLandscape {
  .page {
    &__title {
      font-size: 36px;
      font-weight: 700;
    }
    &__subtitle {
      font-size: 30px;
      margin: 15px 0;
    }
    &__text {
      font-size: 24px;
      margin-bottom: 30px;
    }
    &__input {
      font-size: 18px;
    }
    &__error {
      font-size: 24px;
    }
  }
  .order_fix {
    &_icon {
      width: 40px;
      height: 40px;
    }
  }
  .totop_fix {
    // &_icon {
    //   width: 80px;
    //   height: 80px;
    // }
  }
}

@include extraSmallMobile {
  .page {
    &__title {
      font-size: 32px;
      font-weight: 700;
      margin: 15px 0;
    }
    &__subtitle {
      font-size: 26px;
      margin: 15px 0;
    }
    &__text {
      font-size: 20px;
      margin-bottom: 30px;
    }
    &__input {
      font-size: 16px;
    }
    &__error {
      font-size: 20px;
    }
  }
  .order_fix {
    &_icon {
      width: 30px;
      height: 30px;
    }
  }
  .totop_fix {
    // &_icon {
    //   width: 70px;
    //   height: 70px;
    // }
  }
}

@include ultraSmallMobile {
  .page {
    &__text {
      font-size: 18px;
      margin-bottom: 30px;
    }
    &__error {
      font-size: 18px;
    }
  }
  .order_fix {
    &_icon {
      width: 30px;
      height: 30px;
    }
  }
  .totop_fix {
    // &_icon {
    //   width: 70px;
    //   height: 70px;
    // }
  }
}
@include tinyMobile {
  .page {
    &__subtitle {
      font-size: 24px;
      margin: 15px 0;
    }
  }
}
