@import "../../styles/variables.scss";

.page {
  max-width: $content-width;
  width: 85vw;
  margin: 0 auto;

  &__title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    margin: 15px 0;
  }

  &__subtitle {
    font-size: 32px;
    margin: 15px 0;
  }

  &__content {
  }

  &__action {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
