@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.page {
  max-width: $content-width;
  width: 85vw;
  margin: 0 auto;
}

.order_fix {
  z-index: 2;
  background-color: $brand;
  cursor: pointer;
  position: fixed;
  padding: 10px;
  border-radius: 50%;
  right: 10px;
  top: 50px;

  &_icon {
    display: block;
    width: 50px;
    height: 50px;
  }
}

@include mobileLandscape {
  .order_fix {
    &_icon {
      width: 40px;
      height: 40px;
    }
  }
}

@include extraSmallMobile {
  .order_fix {
    &_icon {
      width: 30px;
      height: 30px;
    }
  }
}
