@import "../../styles/variables.scss";

.admin {
  // padding: 50px 90px;
  min-height: 100vh;
  max-width: $content-width;
  width: 85vw;
  margin: 0 auto;

  &__title {
    font-size: 36px;
    text-align: center;
    margin: 15px 0;
  }

  &__subtitle {
    font-size: 30px;
    color: rgb(125, 125, 125);
    text-align: center;
    padding-bottom: 30px;
  }

  &__text {
    font-size: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
  }
}

.modal {
  &__delete {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
  }

  &__btns {
    width: 230px;
    display: flex;
    margin: 0 auto;
    gap: 30px;
    margin-top: 10px;
  }

  &__btn {
    width: 100px;
  }

  &__subtitle {
    font-size: 20px;
  }
}
