@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.admin {
  // padding: 50px 90px;
  min-height: 100vh;
  max-width: $content-width;
  width: 85vw;
  margin: 0 auto;

  &__title {
    font-size: 36px;
    text-align: center;
    margin: 30px 0 15px 0;
  }

  &__subtitle {
    font-size: 30px;
    color: rgb(125, 125, 125);
    text-align: center;
    padding-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
  }

  &__text {
    font-size: 20px;
    width: auto;
  }

  &__actions {
    display: flex;
    align-items: center;
    // gap: 30px;
    // margin-bottom: 20px;
    margin-top: 10px;
    &_add {
      margin-left: 3%;
      width: 50px;
      height: 50px;
    }

    &-icon {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 5px
    }
  }

  &__error {
    font-size: 26px;
    color: rgb(125, 125, 125);
    text-align: center;
    padding-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
  }

  &__input {
    border-radius: 5px;
    border: 1px solid $brand;
    height: 10vw;
    max-height: 50px;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;

    &_message {
      font-size: 13px;
      color: red;
      // background-color: red;
      position: absolute;
      // top: 0;
      left: 0;
    }

    &:focus {
      border: 2px solid $brand;
    }
  }
}

.modal {
  &__delete {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    width: 40vw;
  }

  &__btns {
    width: 230px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    gap: 30px;
    margin-top: 10px;
  }

  &__btn {
    width: 100px;
  }

  &__title {
    font-size: 24px;
  }
}

@include mediumTablet {
  .admin {
    &__title {
      font-size: 34px;
    }
    &__subtitle {
      font-size: 28px;
    }
  }
  .modal {
    &__delete {
      width: 400px;
    }
    &__title {
      font-size: 20px;
    }
  }
}

@include smallTablet {
  // .modal {
  //   &__title {
  //     font-size: 28px;
  //   }
  // }
}

@include mobileLandscape {
  .admin {
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 26px;
    }
    &__input {
      font-size: 18px;
    }
    &__error {
      font-size: 24px;
    }
  }
}

@include mobile {
  .modal {
    &__delete {
      width: 300px;
      padding: 20px;
    }
    &__title {
      font-size: 18px;
    }
  }
}

@include smallMobile {
  .admin {
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 24px;
    }
  }
}
@include extraSmallMobile {
  .admin {
    &__input {
      font-size: 16px;
    }
    &__text {
      font-size: 18px;
    }
    &__error {
      font-size: 20px;
    }
  }
}

@include ultraSmallMobile {
  .admin {
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 24px;
    }
    &__text {
      font-size: 16px;
    }
    &__error {
      font-size: 18px;
    }
  }
  .modal {
    &__delete {
      width: 90vw;
      padding: 10px 5px;
    }
    &__btn {
      width: 70px;
      font-size: 16px;
      padding: 7px 15px;
    }
    &__title {
      font-size: 16px;
    }
  }
}
