@import "../../styles/variables.scss";
.header {
  background-color: $brand;
  // color: #fff;
  padding: 30px 50px;
  // position: fixed;
  // width: 100vw;
  z-index: 2;

  &__inner {
    font-size: 26px;

    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: $content-width;
    width: 85vw;
    margin: 0 auto;

    &_logo {
      cursor: pointer;
      font-size: 30px;
      font-weight: 700;
    }

    &_navmenu {
      list-style: none;
      display: flex;
      justify-content: space-between;

      width: 50%;

      &_item {
        cursor: pointer;
      }
    }

    &_action {
      cursor: pointer;
      background-color: #fff;
      color: $brand;
      font-size: 30px;
      font-weight: 600;

      &:hover {
        background-color: #a2a2a2;
      }
    }
  }
}
